/* #region Globals */
* {
    font-family: "Comic Sans MS";
}
/* #endregion */

/* #region Base */
#base {
    background-color: #111111;
    color: #F5F5F5;
}
/* #endregion */

/* #region Header */
#header {
    background-color: #1F5F3F;
    color: #F5F5F5;
}

#program_title {
    font-size: 25px;
    padding: 5px;
}

#back_btn, #forward_btn {
    border: 1px solid white;
    margin: 7px;
    border-radius: 10px;
    color: #F5F5F5;
    font-size: 25px;
    text-align: center;
}

#back_btn:hover, #forward_btn:hover {
    background-color: #2E8B57;
}

#back_btn:pressed, #forward_btn:pressed {
    background-color: #1F5F3F;
}

#back_btn:disabled, #forward_btn:disabled {
    color: #555555;
    background-color: transparent;
    border-color: transparent;
}
/* #endregion */

/* #region Main Body */
#body {
    background-color: transparent;
}
/* #endregion */

/* #region Navigation */
#navigation {
    background-color: #181818;
    margin: 10px 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#navigation_label {
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
}
/* #endregion */

/* #region Content Section */
#content {
    background-color: transparent;
}
/* #endregion */

/* #region Search */
#search {
    background-color: #1F5F3F;
    border-bottom-left-radius: 15px;
    margin-left: 10px;
}

#search_label {
    font-size: 13px;
    margin-left: 20px;
    margin-right: 5px;
}

#searchbox {
    border: 0;
    height: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #181818;
    font-size: 14px;
    margin: 5px 0;
    padding: 0 6px 4px;
}
/* #endregion */

/* #region Main Content */
#main_content {
    background-color: transparent;
}
/* #endregion */

/* #region Page Area */
#page_area {
    background-color: transparent;
}
/* #endregion */

/* #region Filters & Sort */
#filters {
    background-color: #181818;
    margin: 10px 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#filters_label {
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
}
/* #endregion */

/* #region Footer */
#footer {
    background-color: #1F5F3F;
    color: #F5F5F5;
}

#quote {
    font-size: 13px;
    padding: 5px;
}
/* #endregion */

/* #region General Pages */
#page {
    background-color: transparent;
}

QLabel[variant="page_title"] {
    font-size: 15px;
    min-height: 40px;
}

QTableWidget[variant="list"] {
    background-color: transparent;
    gridline-color: transparent;
}

QHeaderView[variant="list"]::section {
    font-size: 13px;
}

QTableWidget[variant="list"]::item {
    border-bottom: 1px solid #3A3A3A;
    border-left: none;
    border-right: none;
}

QTableWidget[variant="list"]::item:selected {
    background-color: transparent;
    color: white;
}

/* #endregion */

/* #region Students Page */
/* #endregion */