/* #region Globals */
* {
    font-family: "Comic Sans MS";
}
/* #endregion */

/* #region Base */
#base {
    background-color: #111111;
    color: #F5F5F5;
}
/* #endregion */

/* #region Header */
#header {
    background-color: #1F5F3F;
    color: #F5F5F5;
}

#program_title {
    font-size: 25px;
    padding: 5px;
}

#back_button, #forward_button {
    border: 1px solid white;
    margin: 7px;
    border-radius: 10px;
    color: #F5F5F5;
    font-size: 25px;
    text-align: center;
}

#back_button:hover, #forward_button:hover {
    background-color: #2E8B57;
}

#back_button:pressed, #forward_button:pressed {
    background-color: #1F5F3F;
}

#back_button:disabled, #forward_button:disabled {
    color: #555555;
    background-color: transparent;
    border-color: transparent;
}
/* #endregion */

/* #region Search */
#search {
    background-color: #1F5F3F;
}

#search_label {
    font-size: 13px;
    margin-left: 10px;
    margin-right: 5px;
}

#searchbox {
    border: 0;
    height: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #181818;
    font-size: 14px;
    margin: 5px 0;
    padding: 0 6px 4px;
}

#search_type {
    width: 99px;
    font-size: 13px;
    margin-right: 10px;
}
/* #endregion */

/* #region Main Body */
#body {
    background-color: transparent;
}
/* #endregion */

/* #region Navigation */
#navigation {
    background-color: #181818;
}
/* #endregion */

/* #region Main Content */
#main_content {
    background-color: transparent;
}

#page_area {
    background-color: transparent;
}
/* #endregion */

/* #region Filters & Sort */
#filters {
    background-color: #181818;
}
/* #endregion */

/* #region Footer */
#footer {
    background-color: #1F5F3F;
    color: #F5F5F5;
}

#quote {
    font-size: 13px;
    padding: 5px;
}
/* #endregion */

/* #region General Pages */
#page {
    background-color: transparent;
}
/* #endregion */