*, *:disabled, *:hover, *:pressed {
    [[global:global]]
}

/* #region Filters & Sort */
#filters {
    [[classes:side_menu]];
    border-top-left-radius: [[radius:standard]];
    border-bottom-left-radius: [[radius:standard]];
}

#filters_collapsed_btn {
    [[classes:nav_collapsed_btn]];
    border-top-left-radius: [[radius:standard]];
    border-bottom-left-radius: [[radius:standard]];
}

#filters_collapsed_btn:hover {
    [[classes:nav_collapsed_btn_hover]];
}

#filters_collapsed_btn:pressed {
    [[classes:nav_collapsed_btn_pressed]];
}

#filters_label {
    border-top-left-radius: [[radius:standard]];
    [[classes:heading]]
}

#filters QPushButton {
    [[classes:standard_btn]];
}

#filters QPushButton:hover {
    [[classes:standard_btn_hover]];
}

#filters QPushButton:pressed {
    [[classes:standard_btn_pressed]];
}
/* #endregion */

/* #region Footer */
#quote {
    padding: 5px;
    background-color: [[colours:accent]];
}
/* #endregion */

/* #region General Pages */
#page_area {
    margin: 10px;
    border-radius: [[radius:standard]];
    background-color: [[colours:background_secondary]];
    border: [[borders:standard]] [[colours:border_primary]];
}

#page_title {
    [[classes:heading]];
    border-top-left-radius: [[radius:standard]];
    border-top-right-radius: [[radius:standard]];
}

#page_area QTableWidget {
    border-bottom-left-radius: [[radius:standard]];
    border-bottom-right-radius: [[radius:standard]];
}

#page_area QTableWidget::item:hover {
    background-color: transparent;
}

#page_area QHeaderView {
    font-weight: bold;
    font-size: [[font_sizes:table_header]];
    background-color: [[colours:accent]];
}

#page_area QPushButton {
    [[classes:standard_btn]];
}

#page_area QPushButton:hover {
    [[classes:standard_btn_hover]];
}

#page_area QPushButton:pressed {
    [[classes:standard_btn_pressed]];
}

#page_area QPushButton:disabled {
    [[classes:standard_btn_disabled]];
}
/* #endregion */

/* #region Header */
#header {
    background-color: [[colours:accent]];
}

#program_title {
    font-size: [[font_sizes:program_title]];
    padding: 5px;
    font-weight: bold;
}

#back_btn, #forward_btn {
    [[classes:header_button]];
}

#back_btn:hover, #forward_btn:hover {
    [[classes:header_button_hover]];
}

#back_btn:pressed, #forward_btn:pressed {
    [[classes:header_button_pressed]];
}

#back_btn:disabled, #forward_btn:disabled {
    [[classes:header_button_disabled]];
}
/* #endregion */

/* #region Imports Page */
#import_students_btn_content {
    background-color: [[colours:background_tertiary]];
}

#import_students_btn QLabel {
    font-size: [[font_sizes:heading]];
}

#import_students_btn QLineEdit {
    background-color: [[colours:background_secondary]];
    border: [[borders:standard]] [[colours:border_secondary]];
    border-radius: [[radius:standard_lineedit]];
    margin: 0 20px;
    padding: 5px;
}
/* #endregion */

/* #region Navigation */
#navigation {
    [[classes:side_menu]];
    border-top-right-radius: [[radius:standard]];
    border-bottom-right-radius: [[radius:standard]];
}

#navigation_collapsed_btn {
    [[classes:nav_collapsed_btn]];
    border-top-right-radius: [[radius:standard]];
    border-bottom-right-radius: [[radius:standard]];
}

#navigation_collapsed_btn:hover {
    [[classes:nav_collapsed_btn_hover]];
}

#navigation_collapsed_btn:pressed {
    [[classes:nav_collapsed_btn_pressed]];
}

#navigation_label {
    border-top-right-radius: [[radius:standard]];
    [[classes:heading]]
}

#navigation QPushButton {
    [[classes:standard_btn]];
}

#navigation QPushButton:hover {
    [[classes:standard_btn_hover]];
}

#navigation QPushButton:pressed {
    [[classes:standard_btn_pressed]];
}
/* #endregion */

/* #region Notifications */
#notifications > QWidget {
    border: [[borders:standard]] [[colours:border_primary]];
    border-radius: [[radius:notification]];
}

#notifications QWidget[variant="notification_header"] QLabel {
    font-size: [[font_sizes:notification_label]];
    font-weight: bold;
    border-radius: [[radius:notification]];
    padding-left: 5px;
}

#notifications QWidget[variant="notification_header"] QPushButton {
    font-weight: bold;
    padding: 5px;
    border-radius: [[radius:notification]];
}

#notifications > QWidget[variant="SUCCESS"] {
    background-color: [[colours:success]];
}

#notifications > QWidget[variant="WARNING"] {
    background-color: [[colours:warning]];
}

#notifications > QWidget[variant="ERROR"] {
    background-color: [[colours:error]];
}

#notifications > QWidget[variant="SUCCESS"] QPushButton:hover {
    background-color: [[colours:success_highlight]];
}

#notifications > QWidget[variant="WARNING"] QPushButton:hover {
    background-color: [[colours:warning_highlight]];
}

#notifications > QWidget[variant="ERROR"] QPushButton:hover {
    background-color: [[colours:error_highlight]];
}

#notifications QProgressBar::chunk {
    background-color: [[colours:success_progress]];
}


/* #endregion */

/* #region Search */
#search {
    background-color: [[colours:accent]];
    border-bottom-left-radius: 15px;
    margin-left: 10px;
}

#search_label {
    margin-left: 15px;
    margin-right: 5px;
    font-weight: bold;
}

#searchbox {
    background-color: [[colours:background_secondary]];
    height: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 5px 0;
    padding: 0 6px 4px;
}
/* #endregion */
